@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');


*{
  color: #221811;
  font-family: Arial;
}

body {
  background-color: #FCEBB6;
}


h1{
  line-height: 200%;
  background-color: #D2B48C;
  color:#8C3826;
  text-align: center;
  font-family: Lobster;
}

h2{
  color: #8C3826;
}

nav{
  text-align: center;
  font-style: bold;
}

footer {
  background-color: #D2B48C;
  padding: 20px;
  font-size: .60em;
  text-align: center;
  font-style: italic;
}


#wrapper {
  width: 80%;
  background-color: #FEFAEB;
  margin-right: auto;
  margin-left: auto;
}