.container{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  width: 100vw; 
}

.grid-container{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 10px;

  text-align: center;
  vertical-align: middle;
  line-height: 90px;   
  font-size: 40px;    

}

.grid-container div{
  border-radius: 20px;
  border: solid;

}

#full-track{
  grid-column: span 3;
}